*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
body{
    display: flex;
    background-color: #fffbee;
    text-align: center;
    flex-direction: column;
    padding-top: 2%;}
.puzzleBoard{
    background-image: url(Images/puzzleBoard.svg);
    margin: 10px auto;
    padding: 1rem;
}
h1{
    font-family: Poppins, sans-serif;
    color: #563225;
}
/*Top Bar*/
.topBar{
    display: flex;
    justify-content: space-between;
}
button{
    padding: .25rem;
    border-radius: .8rem;
    background-color: #563225;
    color: #d2e2ff; 
}
.pauseButton{
    border-color: #d2e2ff;
    border-radius: 2rem;
}
.startButton{
    border-color: #d2e2ff;
    border-radius: 1.6rem;
}
.timer{
    padding: .5rem .75rem .5rem .75rem;
    background-color: #563225;
    color: #d2e2ff;
    border-radius: .8rem;
    text-align: center;
    border: .13rem solid #d2e2ff;
}
.pauseButton:hover{
    background-color: #d2e2ff;
    color: #563225;
    font-weight: bold;
}
.startButton:hover{
    background-color: #d2e2ff;
    color: #563225;
    font-weight: bold;
}
button a{
    text-decoration: none;
    color:#d2e2ff;
}
button a:hover{
    color:#563225; 
}
button a:visited{
    text-decoration: none;
}
button a:link{
    text-decoration: none;
}
button a:active{
    text-decoration: none;
}

/* help - hover full puzzle image*/
.fullPuzzle{
    padding: .5rem .75rem .5rem .75rem;
    background-color: #563225;
    color: #d2e2ff;
    border-radius: .8rem;
    text-align: center;
    border: .13rem solid #d2e2ff;
}
.fullPuzzle a{
    position: relative;
    text-decoration: none;
    color: #d2e2ff;
}
.fullPuzzle a span{
    position: absolute;
    display: none;
    z-index: 99;
}
.fullPuzzle a:hover span{
    display: block;
}
.fullPuzzle a:active span{
    display: block;
}

/*difficulty selctor*/
.difficulty{
    background-color: #563225;
    border: solid #d2e2ff;
    border-radius: 1rem;
    display: flex;
    justify-content: space-evenly;
}
.selected{
    background-color: #d2e2ff;
    color: #563225;
    width: 60%;
    font-weight: bold;
}
.unselected{
    width: 40%;
}
.unselected:hover{
    background-color: #d2e2ff;
    color: #563225;
    font-weight: bold;
}

/* Modal styles */
#modal {
    width: 80%;
    height: 400px;
    background: #456990;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-family: Poppins, sans-serif;
    border: .5rem double #563225;
    border-radius: 2rem;
}
#modal #message {
    color: #d2e2ff;
    margin: 0;
    font-size: 2rem;
}
#modal #time{
    color: #d2e2ff;
    margin: 0;
    font-size: 1rem;
}
.hide {
    display: none;
}
#modal #header {
    text-align: right;
    padding: 5px 10px;
}
#modal #header button {
    padding: 10px;
    border: 0px;
    background: #456990;
    color: #d2e2ff;
    cursor: pointer;
}

/* Media Query - make padding large on non mobile screens*/
@media screen and (min-width: 500px){
    .startButton{
        padding: .5rem 1rem .5rem 1rem;
    }
    .pauseButton{
        padding: .5rem 1rem .5rem 1rem;
    }
}
