
/*Puzzle area*/
#container{
    width: 300px;
    height: 300px;
    background: #fffbee;
    background-image: url(Images/puzzleBoard.svg);
    
}
ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-evenly;
    color: #fffbee;
}
ul li{
    background: #fffbee;
    width: 30%;
    height: 86px;
    border: 1px solid #d2e2ff;
    margin-top: 10px;
}

/*Place image parts*/
/*row 1 pieces*/
.r-1c-1{
    background-image: url(Images/SplitPuzzle9/row-1-column-1.jpg);
    background-size: cover;
}
.r-1c-2{
    background-image: url(Images/SplitPuzzle9/row-1-column-2.jpg);
    background-size: cover;
}
.r-1c-3{
    background-image: url(Images/SplitPuzzle9/row-1-column-3.jpg);
    background-size: cover;
}
/*row 2 pieces*/
.r-2c-1{
    background-image: url(Images/SplitPuzzle9/row-2-column-1.jpg);
    background-size: cover;
}
.r-2c-2{
    background-image: url(Images/SplitPuzzle9/row-2-column-2.jpg);
    background-size: cover;
}
.r-2c-3{
    background-image: url(Images/SplitPuzzle9/row-2-column-3.jpg);
    background-size: cover;
}
/*row 3 pieces*/
.r-3c-1{
    background-image: url(Images/SplitPuzzle9/row-3-column-1.jpg);
    background-size: cover;
}
.r-3c-2{
    background-image: url(Images/SplitPuzzle9/row-3-column-2.jpg);
    background-size: cover;
}
.empty{
    background-color: #fffbee;
    border: .25rem solid #d2e2ff;
    opacity: .2;
}

/*Media Query to increase sizes for nonmobile*/
@media screen and (min-width: 500px){
    #container{
        width: 500px;
        height: 500px;
    }
    ul li{
        height: 150px;
    }
}
