
/*Place image parts*/
.r-1c-1{
    background-image: url(Images/SplitPuzzle9/row-1-column-1.jpg);
    background-size: cover;
}
.r-1c-2{
    background-image: url(Images/SplitPuzzle9/row-1-column-2.jpg);
    background-size: cover;
}
.r-1c-3{
    background-image: url(Images/SplitPuzzle9/row-1-column-3.jpg);
    background-size: cover;
}
.r-2c-1{
    background-image: url(Images/SplitPuzzle9/row-2-column-1.jpg);
    background-size: cover;
}
.r-2c-2{
    background-image: url(Images/SplitPuzzle9/row-2-column-2.jpg);
    background-size: cover;
}
.r-2c-3{
    background-image: url(Images/SplitPuzzle9/row-2-column-3.jpg);
    background-size: cover;
}
.r-3c-1{
    background-image: url(Images/SplitPuzzle9/row-3-column-1.jpg);
    background-size: cover;
}
.r-3c-2{
    background-image: url(Images/SplitPuzzle9/row-3-column-2.jpg);
    background-size: cover;
}
