*{
    margin: 1rem;
    background-color: #e7bff7;
}
body {
    display: flex;
    background-color: #4f3658;
    flex-direction: column;
    
}

.topBar li{
    display: inline;
}

.startButton{
    background-color: #a38493;
    border-radius: 1rem;
    border: .2rem;
    border-style: solid;
    border-color: #574e52;
    padding: .5rem 1rem .5rem 1rem;
    font-size: 1rem;
}

.timer{
    background-color: #a38493;
    border-radius: 1rem;
    border: .2rem;
    border-style: solid;
    border-color: #574e52;
    padding: .5rem 1rem .5rem 1rem;
    font-size: 1rem;
}